################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/NerdStore.Catalogo.Domain/bin/Debug/net6.0
/src/NerdStore.Catalogo.Domain/obj
/src/NerdStore.Core/bin/Debug/net6.0
/src/NerdStore.Core/obj
/.vs/NerdStore/v17
/.vs/NerdStore
/tests/NerdStore.Catalogo.Domain.Tests/bin/Debug/net6.0
/tests/NerdStore.Catalogo.Domain.Tests/obj
/src/NerdStore.Catalogo.Data/obj
/src/NerdStore.Catalogo.Data/bin/Debug/net6.0
/src/NerdStore.Catalogo.Application/bin/Debug/net6.0
/src/NerdStore.Catalogo.Application/obj
